<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body
style="background-color:DodgerBlue;">
<h1 style="text-align:center;">Adhikar.net</h1>
<h2 style="text-align:center;">Change Password</h2>
<form align="center" action="" method="post" novalidate>
 {% csrf_token %}
 {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
    <p>{{error}}</p>
     {% endfor %}
   {% endif %}
 {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
 {% endfor %}
 <input type="submit" value="Save">
<a href="{% url 'profile' %}">Profile</a>
<a href="{% url 'logout' %}">Logout</a>
</form>
</body>
</html>