<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
<style>
    p{
      margin-top:300px;
    }
</style>
</head>
<body
style="background-color:DodgerBlue;">
<h1 style="text-align:center;">Adhikar.net</h1>
<!--<h2 style="text-align:center;">User Registration..</h2>
<form align="center"
 action="" method="post" novalidate>
 {% csrf_token %}
   {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
    <p>{{error}}</p>
     {% endfor %}
   {% endif %}
 {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
 {% endfor %}
 <input type="submit" value="submit">
 
</form>
{% if messages %}
 {% for message in messages %}
  <small
          {% if messages.tags %} class="{{message.tags}}" {% endif %}> {{message}}
  </small>
 {% endfor %}
{% endif %}-->
<form method="post" action="">
  {% csrf_token %}
  <label for="email">Please enter email</label>
<input type="email" id="email" name="myvalue">
  <input href="{% url 'success' %}" type="submit" value="submit">
</form>
</body>
</html>