<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fill User Information</title>
</head>
<body>
<h1 style="text-align:center;">Adhikar.net</h1>
<h2 style="text-align:center;">Profile Page</h2>
<h2 style="text-align:center;">welcome {{user}}</h2>
<form align="center"
 action="" method="POST" enctype="multipart/form-data">
 {% csrf_token %}
    {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
    <p>{{error}}</p>
     {% endfor %}
   {% endif %}
 {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
 {% endfor %}
 <input type="submit" value="Save">
 <input type="submit" value="Back">
<a href="{% url 'profile' %}">Profile</a>

</form>
</body>
</html>