{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1 style="text-align:center;">Adhikar.net</h1>
<h2 style="text-align:center;">Profile Page</h2>
<h2 style="text-align:center;">welcome {{user}}</h2>

<form align="center"
 action="" method="POST" enctype="multipart/form-data">
 {% csrf_token %}
  {{form.as_p}}
    <!--
    {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
    <p>{{error}}</p>
     {% endfor %}
   {% endif %}
 {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
 {% endfor %}
-->

<a href="{% url 'changepassword' %}">Change Password</a>
<a href="{% url 'logout' %}">logout</a>


<!--
    {% for form in form %}
<a href="{{ id }}/updateuserinfo">update</a>
    {% endfor %}
    
                 
 -->
{% for entry in form %}
<br>
    <br>
    <p>{{ entry.childhood_and_Education}}</p>
    <p><img src="{% get_media_prefix %}{{ entry.childhood_and_Education_Photo}}" height ="100" width="100" class="card-img" ></p>
    <p>{{ entry.About_Me}}</p>
    <p><img src="{% get_media_prefix %}{{ entry.About_Me_Photo}}" height ="100" width="100" class="card-img" ></p>
    <p>{{ entry.Personal_Life}}</p>
    <p><img src="{% get_media_prefix %}{{ entry.Personal_Life_Photo}}" height ="100" width="100" class="card-img" ></p>
    <p>{{ entry.Political_Career}}</p>
    <p><img src="{% get_media_prefix %}{{entry.Political_Career_Photo}}" height ="100" width="100" class="card-img" ></p>
    <p>{{ entry.aims_Goal_and_Dream}}</p>
    <p><img src="{% get_media_prefix %}{{ entry.aims_Goal_and_Dream_Photo}}" height ="100" width="100" class="card-img" ></p>
    <p>{{ entry.Message_For_Followers}}</p>
    <p><img src="{% get_media_prefix %}{{ entry.Photo }}" height ="100" width="100" class="card-img" ></p>
    


{% endfor %}
    <a href="{% url 'postuserinfo' %}">post_user_info</a>
    <a href="{% url 'updateuserinfo' %}">update info</a>

</form>
</body>
</html>