<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user Login</title>
    <style>
        p{
      margin-top:300px;
          }
      .error{
            color:red;
        }
    </style>
</head>
<body
style="background-color:DodgerBlue;">
<h1 style="text-align:center;">Adhikar.net</h1>
<h2 style="text-align:center;">User Login..</h2>
<form align="center" action="" method="post" novalidate>
 {% csrf_token %}
    {% if form.non_field_errors %}
     {% for error in form.non_field_errors %}
    <p class="error">{{error}}</p>
     {% endfor %}
    {% endif %}
 {% for fm in form %}
    {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
 {% endfor %}
 <input type="submit" value="login"><br><br>
 <a href="{% url 'signup' %}">Signup</a>
 <a href="{% url 'forgotpassword' %}">ForgotPassword</a>
</form>
{% if messages %}
 {% for message in messages %}
  <small
          {% if messages.tags %} class="{{message.tags}}" {% endif %}> {{message}}
  </small>
 {% endfor %}
{% endif %}
</body>
</html>